@import '~antd/dist/antd.css';

* {
    box-sizing: border-box;
}

body {
    background: #221f1f;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    color: white;

}

h3{
    color: white;
}

.input-search{
    color: black;
}

h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
}

.form-back{
    background-image: url("./img/login.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    display: flex;
    align-items: center;
    background: rgba(44,44,44,.6);
    padding: 55px;
    border-radius: 30px;
}

.text-form, .title{
    color: white;
}

.text-form{
    font-size: 20px;
    margin-right: 50px;
    background: rgb(236,89,144, 0.6);
    padding: 10px 15px;
    border-radius: 30px;
    text-align: center;
}

.title{
    font-size: 36px;
    font-weight: bold;
}

.form {
    width: 450px;
    color: black;
}

.error {
    color: red;
}

.error::before {
    display: inline;
    content: "⚠ ";
}

.input-sign {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}


input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #bf1650;
}

input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

.input-sign:disabled {
    opacity: 0.4;
}


.log-btn {
    display: block;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.browse{
    background-image: url("./img/background.jpg");
    padding: 30px 50px;
}

.input-search{
    width: 547px;
    padding: 10px 15px;
}

.list-ul{
    padding: 0;
    position: absolute;
    width: 547px;
    background: rgb(236,89,144, 0.6);
}
.list-li{
    list-style-type: none;
    padding: 10px 0;
    width: 100%;
    border: 1px solid;
    box-shadow: 6px 7px 5px 0px rgba(115,102,102,0.75);
    -webkit-box-shadow: 6px 7px 5px 0px rgba(115,102,102,0.75);
    -moz-box-shadow: 6px 7px 5px 0px rgba(115,102,102,0.75);

}
.input-wrapper{
    margin: 15px 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.out-btn{
    float: right;
    padding: 10px 15px;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}
.out-btn:hover {
    background: #bf1650;
    cursor: pointer;
}

.list-li:hover{
    background: rgb(236,89,144, 1);;
}

.film-poster{
    width: 300px;
    height: 443px;
}

.film-list{
    background: rgb(236,89,144, 0.2);
    width: 340px;
    height: 510px;
    text-align: center;
    margin: 10px 15px;
    padding: 15px 15px;
    border-radius: 30px;
    box-shadow: 6px 7px 18px 2px rgba(236,89,144,0.79);
    -webkit-box-shadow: 6px 7px 18px 2px rgba(236,89,144,0.79);
    -moz-box-shadow: 6px 7px 18px 2px rgba(236,89,144,0.79);
}

.film-list:hover{
    background: rgb(236,89,144, 0.6);
}

.title-content{
    display: flex;
    flex-direction: column;
}

.card-background{
    background-image: url("./img/background.jpg");
    height: 100vh;
}

.title-item{
    width: 900px;
    padding: 35px 50px;
    display: flex;
    align-items: center;
    margin: 125px auto;
    background: rgb(236,89,144, 0.6);
    border-radius: 40px;
}

span{
    color: red;
    font-style: italic;
}




